@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');

*, body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(206, 206, 206);
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

h4, h5 {
  font-weight: 600;
}

h5 {
  font-size: 1.1em;
}

#temp, #location {
  font-size: 1.2em;
}

#temp {
  padding-bottom: 2em;
}

span {
  display: inline-block;
  padding: 5px;
}

#cToF {
  margin-top: 40px;
  font-weight: 700;
  border-width: 2px;
}